[Unit]
Description= starts a new nomad agent
Requires=Docker
After=Docker

[Service]
Type=simple
ExecStart=/bin/nomad agent -config /vagrant/nomadconfig/server.hcl

[Install]
WantedBy=multi-user.target
Alias=dbus-org.fedoraproject.FirewallD1.service

